@{
    ViewBag.Title = "About The Way Free Medical Clinic";
}
<body>
    <div class="container">
       
        <div class="col-md-8">
            <h2>About Us</h2>
            <h3>Serving our communtity</h3>

            <article>

                <p>
                    In April 2006,
                    <strong>The Way Free Medical Clinic</strong>
                    in Green Cove Springs, opened its doors to meet an increasing demand for basic medical care for the indigent population of Clay County, Florida.
                </p>

                <p>
                    The need for a free medical clinic began when <strong> Jeannie Gallina, Founder</strong>, attended a Peace and Justice Retreat Weekend at Mission Church of Sacred Heart in August 2005. At the

                    <a href="http://thewayclinic.org/waydev/wp-content/uploads/2014/03/DSC01651.jpg">
                        <img class="img-responsive" width="300" height="214" alt="TheWayFrontEntrance" src="http://thewayclinic.org/waydev/wp-content/uploads/2014/03/DSC01651-300x214.jpg">
                    </a>

                    weekend’s Immersion Experience, Gallina met people from the Hispanic migrant community, where it became clear that they had tremendous unmet needs –– The Way Free Medical Clinic was born.
                </p>

                <p>The Way, or El Camino as it is called in the Hispanic community, was established under the guidance of the Clay County Health Department and is staffed with volunteer doctors, nurses, clerical workers and translators. The clinic is furnished with donated medical equipment, office furniture, construction materials and labor, providing four exam rooms, administration space, a triage area, conference room/educational center, and a large waiting area.</p>

                <p>
                    The clients served by The Way are from many different backgrounds and ethnicities. All are without insurance and qualify financially at or below 200 percent of the Federal Poverty Guidelines. The Way provides free basic medical services as well as laboratory testing, referral services, prescription medications and educational services. The expenses of The Way are all attributed to these services. Rent and utilities are paid
                    for by the Sacred Heart Church Outreach Program.
                </p>
            </article>
            <p class="alert-info">Learn more about <a href="http://thewayclinic.org/"> The Way Free Medical Clinic</a></p>
        </div>
      
    </div>
</body>

