@model TheWayFreeClinicVMS.Models.Worktime

@{
    ViewBag.Title = "Your Clock Status";
}

<div>

    <p>Current Clock Status: </p>
    <h1>@ViewBag.Message</h1>

    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div>
                <input type="text" name="email" placeholder="Email" class="form-control" style="max-width:100%" ; />
            </div>
        </div>
                        <button type="submit" value="Clock In/Out" class="btn btn-info btn-lg" style="background-color:limegreen; width:100%;">Clock In/Out</button>                      

    }*@ <!-- end form-->

</div>