@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    479 Houston Street<br />
    Green Cove Springs, FL 32043<br />
    <abbr title="Phone">P:</abbr>
    904.531.9504
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@thewayclinic.org ">info@thewayclinic.org</a><br />
</address>