@{
    ViewBag.Title = "Help";
}

<h2>@ViewBag.Title</h2>

<div class="info">
    <p>Whether you're a new user wanting to get a feel for things or you're more experienced but wanting to improve your knowledge, the info on this page should be helpful to you. Here you'll find a tutorial that goes through the relevant pages for both a volunteer user and an administrator. At the end, we've included some anticipated Frequently Asked Questions. If after reading you still have unanswered questions, please see an administrator for clarification.</p>

    <h3>Volunteer Tutorial</h3>

    <h4>The Home Page</h4>

    <p>When you first pull up the website, you'll see the home page.</p>
    <!--<img class="img-" src="~/Content/img/Help1_HomePageOverview.png" /> -->

    <p>On the left side of the screen are places where an administrator can display a message and/or an image to all users.</p>

    <p>If you've just walked into the clinic and you're ready to clock in for the day, you'll enter your email address and click or tap Submit.</p>
    <img class="img-responsive-help" src="~/Content/img/Help2_ClockIn.png" />

    <p>Your activity (clocking in) will show up on the Recent Activity tracker.</p>

    <p>When you want to clock out, you'll go through the same process again: Enter your email, click or tap Submit.</p>

    <p>Again, your activity shows up in the tracker. Now you can see how many hours you worked today.</p>

    <strong>Note: Don't worry if you forgot to clock in/out. You can also enter your hours worked from your profile.</strong>

    <h4>Your Profile Page</h4>

    <p>From the home page, if you click or tap on "Hello [your email address here]!", you'll be taken to your profile.</p>

    <p>Here you can see your personal information. If you want to change something, click or tap Edit.</p>

    <p>Now you can edit your profile. Note that if you enter something in the wrong format (e.g. phone number without an area code), the page will display red error text beneath the relevant field(s).</p>

    <p>When you're done, click or tap Save Changes.</p>

    <p>You can also go back to the home screen from your profile by clicking or tapping Clock-In/Clock-Out</p>

    <h4>Administrator Tutorial</h4>

    <h3>FAQ</h3>

</div>