@{
    ViewBag.Title = "Volunteer Management System";
}

<div class="jumbotron">
    <h1>Volunteer Management System</h1>
    <p class="lead"></p>
    <p><a href="http://thewayclinic.org" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please contact The Way Free Clinic personnel if you wish to volunteer.
        </p>
        <p><a href="@Url.Action("Contact", "Home")" class="btn btn-success"> Contact Us</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work log your volunteered time</h2>
        <p>Simply type your Email and Password and click Clock In button to record your hours. </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301866">Clock In</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Account</h2>
        <p>Simply follow the link below to log into the system and access your personnal information.</p>
        <p><a href="@Url.Action("Index", "VolunteerProfile")" class="btn btn-success"> My Account</a></p>
    </div>
</div>