
@{
    ViewBag.Title = "Backup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Backup</h2>

<div class="container-fluid">
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row" style="text-align:center;">

                @using (Html.BeginForm("BackupDbToFile", "AdminDashboard"))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-6">
                        <div class="jumbotron" style="padding-bottom:10px;">
                            <button type="submit" class="btn btn-default btn-block" style="height:100px; width:100px; margin:auto;">
                                <span class="glyphicon glyphicon-hdd" style="font-size:xx-large;"></span>
                            </button>
                            <div class="panel panel-heading panel-primary" style="margin-top:20px; background-color:#ffffff;">Backup Database to .Bak File</div>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("BackupDbToExcel", "AdminDashboard"))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-6">
                        <div class="jumbotron" style="padding-bottom:10px;">
                            <button type="submit" class="btn btn-default btn-block" style="height:100px; width:100px; margin:auto;">
                                <span class="glyphicon glyphicon-list" style="font-size:xx-large;"></span>
                            </button>
                            <div class="panel panel-heading panel-primary" style="margin-top:20px; background-color:#ffffff;">Backup All Data Tables to Excel Files</div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
